@model Sale.Domain.Customers.Customer

@{
    ViewData["Title"] = "Details";
}

    <h2>جزئیات محصول</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md-6">
                @Html.DisplayFor(model => model.FirstName)
            </div>
            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.DisplayFor(model => model.LastName)
            </div>
            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.DisplayFor(model => model.PhoneNumber)
            </div>
            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </div>
        </div>
        @*<dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>*@
        @*<dd>
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("تغییر", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">بازگشت به لیست محصولات</a>
</div>
