@model Sale.Domain.Invoices.Invoice

@{
    ViewData["Title"] = "Details";
}

    <h2> جزئیات اطلاعات صورت حساب</h2>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Customer.FirstName)
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Customer.LastName)
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Customer.LastName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.TotalPrice)
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </div>
            </div>  
            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.AddedDate)
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.AddedDate)
                </div>
            </div>
           <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </div>
            </div>
           
              
              
               

            </dl>
    </div>
<table class="table itemTable " id="div_to_load_PartialView">
    <thead>
        <tr>
            <th>نام محصول </th>
            <th>برند محصول</th>

            <th>تعداد </th>

            <th>قیمت تومان </th>

            

        </tr>
    </thead>
    <tbody id="Invoice_Items ">
        @if (Model.Items != null)
                        {
        @foreach (var item in Model.Items)
                            {


        <tr class="@item.Product.Id" , name="@item.Product.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Brand)
            </td>
            <td class="Quantity">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="Price">
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            
        </tr>
                            }
                        }
    </tbody>
</table>

<div>
    @Html.ActionLink("تغییر", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">بازگشت به لیست صورت حساب ها</a>
</div>
