@model IEnumerable<Sale.Domain.Invoices.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Invoices</h2>
<div class="container">
    @if ((string)TempData["State"] == "Successfully created")
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Invoice Successfully created
        </div>
    }
    else if ((string)TempData["State"] == "Successfully Edited")
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Invoice Successfully Edited
        </div>
    }
    else if ((string)TempData["State"] == "Successfully Deleted")
    {
        <div class="alert alert-success alert-dismissible col">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Invoice Successfully Deleted
        </div>
    }
    else if ((string)TempData["State"] == "Fail")
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed Action!</strong> Invoice Something went wrong
        </div>
    }
    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.AddedDate)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
