@model Sale.Domain.Products.Product

@{
    ViewData["Title"] = "Details";
}

    <h2>جزئیات محصول</h2>

<div>
   
    <hr />
    <div class="class="container"">

        <dl>

            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Brand)
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Brand)
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Price)&nbsp;تومان
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Price)
                </div>
            </div>
     
    </dl>
</div>
</div>
<div>
    @Html.ActionLink("تغییر", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">بازگشت به لیست محصولات</a>
</div>
